
<template>
  <div class="graph rounded col-span-3">
    <div class="inline-flex absolute z-10 bg-black p-1 border-gray-300 border-b-2 border-r-2 rounded-br shadow-gray-500 shadow-lg">
      <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-3 rounded" @click='showEntities'>
        Home
      </button>

      <input type="search" class="form-control block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300
        rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white mx-2  focus:border-blue-600 focus:outline-none" v-on:keyup.enter="searchQuery" placeholder="Type query"/>

      <button class="hover:brightness-75 font-bold py-2 px-3 location-color rounded-l-lg" @click='toggleClass'>
        Location
      </button>
      <button class="hover:brightness-75 font-bold py-2 px-3 event-color " @click='toggleClass'>
        Event
      </button>
      <button class="hover:brightness-75 font-bold py-2 px-3 object-color" @click='toggleClass'>
        Object
      </button>
      <button class="hover:brightness-75 font-bold py-2 px-3 people-color" @click='toggleClass'>
        People
      </button>
      <button class="hover:brightness-75 font-bold py-2 px-3 other-color" @click='toggleClass'>
        Other
      </button> 
      <button class="hover:brightness-75 font-bold py-2 px-3 action-color rounded-r-lg" @click='toggleClass'>
        Action
      </button> 
      <div>
        <div class="relative inline-block w-10 m-2 mr-2 align-middle select-none transition duration-200 ease-in">
            <input @click="toggleEdges" v-model="showEdges" checked type="checkbox" name="toggle" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
            <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
        </div>
        <label for="toggle" class="text-xs text-white">Hide edges?</label>
      </div>
    </div>

    <div id="cy" ref="cy" class="w-full h-full">
      
    </div>

   </div>
</template>


<script lang="ts">
import cytoscape from 'cytoscape';
import coseBilkent from 'cytoscape-cose-bilkent';
import cola from 'cytoscape-cola';
import spread from 'cytoscape-spread';
import cise from 'cytoscape-cise';
import data from "../assets/data.json";

cytoscape.use( coseBilkent );
cytoscape.use( cola );
cytoscape.use( spread );
cytoscape.use( cise );


export default {
  data(){
    return {
      showClasses:{
        "Location": true,
        "Event": true,
        "Object": true,
        "People": true,
        "Other": true,
        "Action": true
      },
      showEdges: true,
      sentences: data.sentences,
      entities: data.entities,
      edges: data.edges,
      rule_edges: data.rule_edges,
      cy: null

    }
  },
  methods:{
    searchQuery: function(e){
      const name = e.target.value;
      //          this.emitter.emit('showNode', e.target);
      
      const res = this.cy.$('node[id = "'+name+'"]');

      if(res.length > 0){
        this.emitter.emit('graph', this);
        this.emitter.emit('showNode', res[0]);
      }
    },
    setGraph: function(){
        var cy = cytoscape({
          container: document.getElementById("cy"),
          elements:  Object.entries(this.entities).map(([k,v]) => ({data:v})).concat(this.rule_edges.map((v) => ({data:v}))),
          layout: {
            name: 'cose-bilkent',
            fit: true,
            animate: true,
            avoidOverlap: true,
            nodeRepulsion: 100000,
            numIter: 1000000,
            //tilingPaddingVertical: 200,
            //tilingPaddingHorizontal: 200,
            //avoidOverlapPadding: 100
          },
          style:[
                {
                    "selector": 'node[type = "entity"]',
                    "style": {
                      "label": "data(id)",
                      "background-color": "#08F7FE",
                      "color":"rgba(255,255,255,0.9)",
                    },
                }, 
                {
                    "selector": 'node[cls = "Action"]',
                    "style": {
                      "background-color": "#CD5C5C",
                    },
                },
                {
                    "selector": 'node[cls = "Event"]',
                    "style": {
                      "background-color": "#00ff41",
                    },
                },
                {
                    "selector": 'node[cls = "People"]',
                    "style": {
                      "background-color": "#F5D300",
                    },
                },
                {
                    "selector": 'node[cls = "Object"]',
                    "style": {
                      "background-color": "#9467bd",
                    },
                },
                {
                    "selector": 'node[cls = "Location"]',
                    "style": {
                      "background-color": "orange",
                    },
                },
                {
                    "selector": 'node[type = "sentence"]',
                    "style": {
                      "label": "data(id)",
                      "text-valign": "center",
                      "background-color": "#FE53BB",
                      "color": "#FAF0E6",
                      "text-wrap": "wrap"
                    },
                },

                {
                    "selector": ".text",
                    "style": {
                    "background-color": "#212946",
                    }
                },
                {
                    "selector": "edge",
                    "style":{
                      "label": "data(label)",
                      "color": "darkorange",
                      "display": "none"
                    }
                },
                {
                  selector: ':selected',
                  css: {
                    'background-color': 'darkorange',
                    'line-color': 'black',
                    'target-arrow-color': 'black',
                    'source-arrow-color': 'black'
                  }
                }
            ]
        });

        /*cy.layout({
            "name":"cose-bilkent"
        }).run()*/

        cy.nodes().on('click', (e) => {
          this.emitter.emit('graph', this);
          this.emitter.emit('showNode', e.target);

          console.log(e.target.data());
        });

        this.emitter.emit('graph', this);

        this.cy = cy;
    },
    showEntities(){
      this.setGraph();
    },
    toggleClass(event){
      const elem = event.srcElement;
      const cls = elem.innerHTML.trim();
      const v = !this.showClasses[cls];
      this.showClasses[cls] = v;

      if(v)
        elem.classList.remove("off");
      else
        elem.classList.add("off");

      this.cy.$('node[cls = "'+cls+'"]').style("display",v?"element":"none");
    },
    toggleEdges(){
      this.cy.$('edge').style("display",this.showEdges?"element":"none");
    }
  },
  mounted(){
    this.setGraph();
  }
}
</script>