<template>
    <aside class="w-full" aria-label="Sidebar">
    <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded h-full overflow-hidden">
        <div v-if="nodeData.type == 'none'" class="h-96">
            <h1>Select a Node to inspect it</h1>
        </div>

        <div v-else-if="nodeData.type == 'entity'">
        <div  class="flex flex-wrap -mx-3 mb-">
            <div class="w-full px-3 mb-6 text-center">
                <h3>Entity</h3>
                <h1><b>{{nodeData.id}}</b></h1>
            </div>
            <div class="w-full border-t border-gray-500"></div>
            <div class="w-full px-3 mb-6 mt-3">
                <button @click="zoomNode(nodeData.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Zoom Node
                </button>

                <button @click="focusNode" class="bg-blue-500 mx-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Show sentences
                </button>

                <button @click="showRules" class="bg-blue-500 mx-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Show relations
                </button>
            </div>
            <div class="w-full border-t border-gray-500"></div>
            <ul class="w-full overflow-scroll h-96 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <li @click.native.capture="(x) => zoomNode(e.id,x)" v-for="e in context.sentences" :key="e.content" class="w-full hover:bg-gray-200 px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                    Id:<b>{{e.id}}</b><p v-html="markupSentence(e)"></p>
                </li>
            </ul>
        </div>
        </div>
           <div v-else-if="nodeData.type == 'sentence'">
            <div  class="flex flex-wrap -mx-3 mb-">
                <div class="w-full px-3 mb-6 text-center">
                    <h3>Sentence</h3>
                    <p class="text-left"><b>{{nodeData.content}}</b></p>
                </div>
                <div class="w-full border-t border-gray-500"></div>
                <div class="w-full px-3 mb-6 mt-3">
                    <button @click="zoomNode(nodeData.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Zoom
                    </button>

                    <button @click="focusNode" class="bg-blue-500 mx-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Focus
                    </button>
                </div>
                <div class="w-full border-t border-gray-500"></div>
                <div class="flex flex-wrap overflow-y-scroll h-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <button @click="zoomNode(e.id)" v-for="e in context.entities" :key="e.id" class="px-4 m-2 py-2 border-b border-gray-200 rounded-full bg-orange-400 text-white dark:border-gray-600">
                        {{e.id}}
                    </button>
                </div>
        </div>
        </div>
        <div  class="">
            <div class="w-full p-3 text-center">
                <h3>Question-Answering</h3>
            </div>
            
            <div v-if="qa.status == 'done'">
                <div class="w-full mb-3">
                    <input type="search" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300
                    rounded transition ease-in-out focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" v-on:keyup.enter="searchQA" placeholder="Type question"/>                
                </div>
                <h2>{{qa.query}}</h2>
                <ul class="w-full overflow-scroll h-96 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li v-for="row in qa.data" :key="row.ref" class="w-full hover:bg-gray-200 px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                        <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">{{row.ref}}</span>
                        <span class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">{{row.qa_score}}</span>
                        <br/>
                        <p v-html="markupAnswers(row)"></p>
                    </li>
                </ul>
            </div>

            <div v-else-if="qa.status == 'loading'" class="border-2 border-gray-600 my-16 h-full rounded-lg">
                <svg role="status" class="flex flex-col items-center justify-center mx-32 py-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
            </div>


            <div v-else-if="qa.status == 'error'" class="">
               An error occured
            </div>
        </div>
    </div>
    </aside>
</template>


<script lang="ts">
import { useQuery,useResult } from '@vue/apollo-composable'
import gql from 'graphql-tag'

export default{
    data (){
        return {
            node: null,
            nodeData: {
                type: "none"
            },
            graph: null,
            context: {
                sentences: [],
                entities: []
            },
            qa: {
                status: "done",
                query: "",
                data: []
            }
        }
    },
    mounted () {
        this.emitter.on('showNode', node => {
            this.node = node;
            this.nodeData = node.data();

            if(this.nodeData.type == "entity")
                this.context.sentences = this.nodeData.edges.map(({source}) => this.graph.sentences[source]);
            else if(this.nodeData.type == "sentence")
                this.context.entities = this.nodeData.edges.map(({target}) => this.graph.entities[target]);
                
        })


        this.emitter.on('graph', graph => {
            this.graph = graph;
        })
    },
    methods:{
        searchQA: function(e){
            const query = e.target.value;

            this.qa.status = "loading";
            this.qa.query = query;

            fetch('http://13.40.226.236:5000/qa?q="'+query+'"')
                .then(response => response.json())
                .then(data => {
                    this.qa.status = "done";
                    //data = data.sort((a, b) => a["qa_score"] > b["qa_score"] ? -1 : 1);
                    this.qa.data = data;
                })
                .catch((error) => {
                    this.qa.status = "error";
                    console.log(error);
                });
        },
        zoomNode: function(id,event=null) {
            if(event !== null && event.srcElement.tagName == "BUTTON")
                id = event.srcElement.innerHTML;

            const node = this.graph.cy.getElementById(id);
            const p =  node.renderedPosition();

            node.style({
                "overlay-color": "red",
                "overlay-opacity": 0.6,
                "overlay-padding": 10,
                "overlay-shape": "ellipse"
            });

            this.graph.cy.animate({ 
                panBy:{
                    x: -p.x+this.graph.cy.width()/2,
                    y: -p.y+this.graph.cy.height()/2
                },
                duration: 500,
                complete: () => {
                    this.graph.cy.animate({ 
                        zoom: {
                            level: 2,
                            renderedPosition: node.renderedPosition()
                        },
                        duration: 300
                        //position: node.renderedPosition()
                    });

                    node.animate({
                        style:{
                            "overlay-opacity": 0
                        },
                        duration: 2000
                    });
                }
            })
        },
        markupAnswers: function(ans){
            
            var s = ans.text;
            const a = ans.answer;

            if(s == undefined)
                return a;

            return s.replace(a,"<span class='bg-green-600 hover:bg-green-400 text-white font-bold py-0 px-1 rounded-full'>"+a+"</span>");
        },
        markupSentence: function(sent) {
            const ents = sent.edges;
            var s = sent.content;

            ents.map(e => {

                const lower = new RegExp("\\b"+e.target.toLowerCase()+"\\b", "g");
                const upper = new RegExp("\\b"+e.target.toUpperCase()+"\\b", "g");
                s = s.replace(lower,"<button class='bg-orange-500 hover:bg-blue-700 text-white font-bold py-0 px-1 rounded-full'>"+e.target.toLowerCase()+"</button>");
                s = s.replace(upper,"<button class='bg-orange-500 hover:bg-blue-700 text-white font-bold py-0 px-1 rounded-full'>"+e.target.toUpperCase()+"</button>");
            });

            return s;
        },
        focusNode: function() {

            var elems = new Set();

            for(var i in this.nodeData.edges){
                const s = this.graph.sentences[this.nodeData.edges[i].source];
                const es = s.edges;

                elems.add({data: s});

                for(var j in es){
                    const e = es[j];

                    elems.add({data: this.graph.entities[e.target]});
                    elems.add({data: e});
                }
            }

            elems = Array.from(elems);

            this.graph.cy.elements().remove();
            this.graph.cy.add(elems);

            this.graph.cy.nodes().on('click', (e) => {
                this.emitter.emit('showNode', e.target);
            });

            this.graph.cy.layout({
                name: "concentric",
                animate: true,
                fit:true,
                spacingFactor: 2,
                concentric: node => { // returns numeric value for each node, placing higher nodes in levels towards the centre
                    if (node.data().type == "sentence")
                        return 5;
                    else if(node.id() == this.nodeData.id)
                        return 10;
                    return 1;
                },
                levelWidth: function( nodes ){ // the variation of concentric values in each level
                    return 1;
                },
            }).run()


        },
        showRules: function() {

            var nodes = new Set([{data:this.nodeData}]);
            var edges = new Set([])

            for(var i in this.nodeData.from){
                const e = this.nodeData.from[i];
                const s = this.graph.entities[e.target];

                nodes.add({data: s});
                edges.add({data: e});
            }

            for(var i in this.nodeData.to){
                const e = this.nodeData.to[i];
                const s = this.graph.entities[e.source];

                nodes.add({data: s});
                edges.add({data: e});
            }

            const elems = Array.from(nodes).concat(Array.from(edges));

            console.log(elems);
            
            this.graph.cy.elements().remove();
            this.graph.cy.add(elems);

            this.graph.cy.nodes().on('click', (e) => {
                this.emitter.emit('showNode', e.target);
            });

            this.graph.cy.layout({
                name: "concentric",
                animate: true,
                fit:true,
                spacingFactor: 2,
                concentric: node => { // returns numeric value for each node, placing higher nodes in levels towards the centre
                    if(node.id() == this.nodeData.id)
                        return 10;
                    return 1;
                },
                levelWidth: function( nodes ){ // the variation of concentric values in each level
                    return 1;
                },
            }).run()

        }
    }
}
</script>
