<script setup lang="ts">
  import GraphView from './components/GraphView.vue'
  import Sidebar from './components/Sidebar.vue'
</script>

<template>

    <div class = "grid grid-cols-4 gap-2 p-2 bg-black w-screen h-screen max-w-full max-h-screen">
        <GraphView></GraphView>
        <Sidebar/>
    </div>
</template>
