@tailwind base;
@tailwind components;
@tailwind utilities;

.graph{
    background-color: rgb(21,29,46);
}

.other-color{
    background-color: #08F7FE;
    color:black;
}

.event-color{
    background-color: #00ff41;
    color:black;
}

.people-color{
    background-color: #F5D300;
    color: black;
}

.object-color{
    background-color: #9467bd;
    color: black;
}


.location-color{
    background-color: orange;
    color: black;
}

.action-color{
    background-color:#CD5C5C;
    color: black;
}

.off{
    filter: brightness(.5) !important;
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: red;
  }
  
.toggle-checkbox:checked + .toggle-label {
@apply: bg-red-400;
background-color: lightcoral;
}